.input{
    height: 40px;
    width:400px;
    font-size:16px;
}
.form-box{
    height:770px;
    width:500px;
    background-color: rgb(126, 220, 173);
    
}
#i5vyy{
    height:100px;
    width:400px;
    font-size:20px;
}