.appbar1{
    height:60px;
 
}
.acc{
    float: right;
    margin-right:40px;
    cursor: pointer
}
.menubutton1{
    color:black;
    margin-left: 40px;
}
.just{
    cursor: pointer;
    text-decoration: none;
}
.just:hover{
    color: rgb(3, 95, 254);
}

.just1{
    cursor: pointer;
    margin-right:55px;
}
.just56{
    cursor: pointer;
    margin-right:100px;
}
.logo1{

}
.jhk{
    float:right;
   margin-right:30px;
   
}
.search1{
    height:50px;
    width:500px;
    margin-left:500px;
    
}
.homebutton{
   
}
.homecard1{
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    grid-gap:20px;
    margin:0 auto;
    position: relative;
    
}
.footdiv1{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap:20px;
    margin:0 auto;
    position: relative;
}
.footin{
    float:right;
}
.logout1{
    color: black;
    text-decoration: none;
}
.scrool{

}
.just109{
    cursor: pointer;
    text-decoration: none;

}
#content{
    scroll-padding-right: 2em;
}
