.register-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
   
  }
  
  input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    outline: none;
    border-color: #63a4ff;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #63a4ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #4e88e4;
  }
  
  .error-msg {
    color: red;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .reh1{
    padding-top: 150px;
  }

  